* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	width: 100vw;
	height: 100vh;
	background-image: url(./images/reel-back.jpg);
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
